.edit-name-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-user-content-name{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20%;
    margin: auto;
    min-width: 150px;
    max-width: 10vw;
}

.header-user-content-cancel button{
    display: flex;
    width: 20%;
    margin: auto;
    min-width: 150px;
    justify-content: center;
    max-width: 10vw;

}

